@page "/adminoverviewacceptedaccounts"
@using Data.Models;
@using Microsoft.AspNetCore.Components;
@using ModellenBureauBlazorVersion3.Client.DataServices;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    .imageclass {
        max-width: 300px;
    }
</style>
@if (AcceptedClients == null || AcceptedFemaleModels == null || AcceptedMaleModels == null)
{
    <p><em>Loading...</em></p>
}
else
{

    {
        foreach (var item in AcceptedFemaleModels)
        {
            {
                <div class="card">
                    <img class="imageclass" src="/Images/model-icon.png" />
                    <h1>@item.Username</h1>
                    <p class="title">First name</p>
                    <p>@item.NAWData.FirstName</p>
                    <p class="title">Last name</p>
                    <p>@item.NAWData.LastName</p>
                    <p class="title">City</p>
                    <p>@item.NAWData.City</p>
                    <a href="@($"admineditfemalemodel/{item.id}")" class="btn btn-primary table-btn">
                        invite model
                    </a>
                </div>
            }
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Female model user name</th>
                    <th>Female model first name</th>
                    <th>Female model last name</th>
                    <th>Female model city</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in AcceptedFemaleModels)
                {

                    {
                        <tr>

                            <td>@item.Username</td>
                            <td>@item.NAWData.FirstName</td>
                            <td>@item.NAWData.LastName</td>
                            <td>@item.NAWData.City</td>
                            <td>
                                <a href="@($"admineditfemalemodel/{item.id}")" class="btn btn-primary table-btn">
                                    invite model
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        foreach (var item in AcceptedMaleModels)
        {
            {
                <div class="card">
                    <img class="imageclass" src="/Images/model-icon.png" />
                    <h1>@item.Username</h1>
                    <p class="title">First name</p>
                    <p>@item.NAWData.FirstName</p>
                    <p class="title">Last name</p>
                    <p>@item.NAWData.LastName</p>
                    <p class="title">City</p>
                    <p>@item.NAWData.City</p>
                    <a href="@($"admineditmalemodels/{item.id}")" class="btn btn-primary table-btn">
                        invite model
                    </a>
                </div>
            }
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Male model user name</th>
                    <th>Male model first name</th>
                    <th>Male model last name</th>
                    <th>Male model city</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in AcceptedMaleModels)
                {

                    {
                        <tr>

                            <td>@item.Username</td>
                            <td>@item.NAWData.FirstName</td>
                            <td>@item.NAWData.LastName</td>
                            <td>@item.NAWData.City</td>
                            <td>
                                <a href="@($"admineditmalemodels/{item.id}")" class="btn btn-primary table-btn">
                                    invite model
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        foreach (var item in AcceptedClients)
        {
            {
<div class="card">
    <img class="imageclass" src="/Images/model-icon.png" />
    <h1>@item.UserName</h1>
    <p class="title">First name</p>
    <p>@item.data.FirstName</p>
    <p class="title">Last name</p>
    <p>@item.data.LastName</p>
    <p class="title">City</p>
    <p>@item.data.City</p>
    <a href="@($"admineditclient/{item.id}")" class="btn btn-primary table-btn">
        invite model
    </a>
</div>
            }
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Client user name</th>
                    <th>Client model first name</th>
                    <th>Client model last name</th>
                    <th>Client model city</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in AcceptedClients)
                {

                    {
                        <tr>

                            <td>@item.UserName</td>
                            <td>@item.data.FirstName</td>
                            <td>@item.data.LastName</td>
                            <td>@item.data.City</td>
                            <td>
                                <a href="@($"admineditclient/{item.id}")" class="btn btn-primary table-btn">
                                    invite model
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
@code {
    [Inject]
    public IAdminDataService _adminDataService { get; set; }
    [Inject]
    public IClientDataService _clientDataService { get; set; }
    [Inject]
    public IEventDataService _eventDataService { get; set; }
    [Inject]
    public IFemaleModelDataService _femaleModelDataService { get; set; }
    [Inject]
    public IMaleModelDataService _maleModelDataService { get; set; }
    public List<ClientModel> AcceptedClients { get; set; }
    public List<FemaleModelModel> AcceptedFemaleModels { get; set; }
    public List<MaleModeModel> AcceptedMaleModels { get; set; }
    [Inject]
    public NavigationManager navmanager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AcceptedClients = (await _clientDataService.GetAllClients()).Where(a => a.Invited == true).ToList();
        AcceptedFemaleModels = (await _femaleModelDataService.GetAllFemaleModels()).Where(a => a.Invited == true).ToList();
        AcceptedMaleModels = (await _maleModelDataService.GetAllMaleModels()).Where(a => a.Invited == true).ToList();
    }
}
