@page "/clientmodelsoverview"
@using Data.Models;
@using Microsoft.AspNetCore.Components;
@using ModellenBureauBlazorVersion3.Client.DataServices;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    .imageclass {
        max-width: 300px;
    }
</style>
@if (MaleModels == null)
{
    <p><em>Loading...</em></p>
}
else
{

    foreach (var item in MaleModels)
    {
        if (item.Invited == true)
        {
            <div class="card">
                <img class="imageclass" src="/Images/model-icon.png" />
                <h1>@item.Username</h1>
                <a href="@($"clientcoupleeventmale/{item.id}")" class="btn btn-primary table-btn">
                    add model to event
                </a>
            </div>
        }
    }
    <table class="table">
        <thead>
            <tr>
                <th>males</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in MaleModels)
            {
                if (item.Invited == true)
                {
                    <tr>

                        <td>@item.Username</td>
                        <td>
                            <a href="@($"clientcoupleeventmale/{item.id}")" class="btn btn-primary table-btn">
                                add model to event
                            </a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    foreach (var item in FemaleModels)
    {
        if (item.Invited == true)
        {
            <div class="card">
                <img class="imageclass" src="/Images/model-icon.png" />
                <h1>@item.Username</h1>
                <a href="@($"clientcoupleeventfemale/{item.id}")" class="btn btn-primary table-btn">
                    add model to event
                </a>
            </div>
        }
    }
    <table class="table">
        <thead>
            <tr>
                <th>females</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in FemaleModels)
            {
                if (item.Invited == true)
                {
                    <tr>

                        <td>@item.Username</td>
                        <td>
                            <a href="@($"clientcoupleeventfemale/{item.id}")" class="btn btn-primary table-btn">
                                add model to event
                            </a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
@code {
    [Inject]
    public IAdminDataService _adminDataService { get; set; }
    [Inject]
    public IClientDataService _clientDataService { get; set; }
    [Inject]
    public IEventDataService _eventDataService { get; set; }
    [Inject]
    public IFemaleModelDataService _femaleModelDataService { get; set; }
    [Inject]
    public IMaleModelDataService _maleModelDataService { get; set; }
    public List<MaleModeModel> MaleModels { get; set; }
    public List<FemaleModelModel> FemaleModels { get; set; }
    [Inject]
    public NavigationManager navmanager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MaleModels = (await _maleModelDataService.GetAllMaleModels()).ToList();
        FemaleModels = (await _femaleModelDataService.GetAllFemaleModels()).ToList();

    }
}
